body {
    padding: 0;
    margin: 0;
    font-family: muli, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: 16px;
}

.container {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.container,
.container-width {
    width: 1080px;
}

@media (max-width: 1200px) {
    .container,
    .container-width {
        width: 100%;
    }
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 100vh;
}

.background-image .background-wrapper {
    position: relative;
    height: 100vh;
}

.background-image .background-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in 1 forwards;
}

.fade-out {
    opacity: 1 !important;
    animation: fadeOut 0.5s ease-in 1 forwards !important;
}

#nav-wrapper {
    top: 0;
    position: sticky;
    padding: 0.15em 0;
    background-color: none;
    transition: background-color 250ms ease-in;
    z-index: 1000;
}

#nav-wrapper nav {
    margin: 0 auto;
    z-index: 1000;
}

#nav-wrapper nav .main-nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 2.5em 0;
}

@media (max-width: 1200px) {
    #nav-wrapper nav .main-nav {
        margin: 1em;
    }
}

#nav-wrapper nav .main-nav #logo {
    flex-grow: 1;
}

@media (max-width: 768px) {
    #nav-wrapper nav .main-nav #logo img {
        width: 65%;
        height: auto;
    }
}

@media (max-width: 768px) {
    #nav-wrapper nav .main-nav .main-nav__link {
        display: none;
    }
}

#nav-wrapper nav .main-nav li {
    margin: 0;
}

#nav-wrapper nav .main-nav li,
#nav-wrapper nav .main-nav a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-weight: 700;
    margin: 0 2.25em;
}

@media (max-width: 1200px) {
    #nav-wrapper nav .main-nav li,
    #nav-wrapper nav .main-nav a {
        margin: 0 1em;
    }
}

#nav-wrapper nav .main-nav li:first-child,
#nav-wrapper nav .main-nav a:first-child {
    margin-left: 0;
}

#nav-wrapper nav .main-nav li:last-child,
#nav-wrapper nav .main-nav a:last-child {
    margin-right: 0;
}

#nav-wrapper .open-nav {
    right: 0px !important;
}

#nav-wrapper #mobile-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -250px;
    background: rgba(0, 25, 39, 0.85);
    height: 100vh;
    width: 250px;
    transition: right 250ms ease-in;
}

@media (min-width: 768px) {
    #nav-wrapper #mobile-nav {
        display: none;
    }
}

#nav-wrapper #mobile-nav .nav-icon-wraper {
    position: fixed;
    top: 0em;
    right: 0;
    padding: 2em;
}

#nav-wrapper #mobile-nav .nav-icon-wraper .mobile-nav__button {
    width: 40px;
    height: 40px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-wrapper #mobile-nav .nav-icon-wraper .mobile-nav__button span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

#nav-wrapper #mobile-nav .nav-icon-wraper .mobile-nav__button span:nth-child(1) {
    top: 0px;
}

#nav-wrapper #mobile-nav .nav-icon-wraper .mobile-nav__button span:nth-child(2),
#nav-wrapper #mobile-nav .nav-icon-wraper .mobile-nav__button span:nth-child(3) {
    top: 15px;
}

#nav-wrapper #mobile-nav .nav-icon-wraper .mobile-nav__button span:nth-child(4) {
    top: 30px;
}

#nav-wrapper #mobile-nav .open-mobile__nav span:nth-child(1) {
    top: 15px;
    width: 0%;
    left: 50%;
}

#nav-wrapper #mobile-nav .open-mobile__nav span:nth-child(2) {
    transform: rotate(45deg);
}

#nav-wrapper #mobile-nav .open-mobile__nav span:nth-child(3) {
    transform: rotate(-45deg);
}

#nav-wrapper #mobile-nav .open-mobile__nav span:nth-child(4) {
    top: 15px;
    width: 0%;
    left: 50%;
}

#nav-wrapper #mobile-nav ul {
    list-style-type: none;
    margin-top: 1.8em;
    margin-right: 1em;
}

#nav-wrapper #mobile-nav ul li {
    padding-bottom: .5em;
}

#nav-wrapper #mobile-nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.25em;
}

.nav-scroll {
    background-color: rgba(0, 25, 39, 0.85);
}

.btn {
    font-family: muli, sans-serif;
    font-weight: 700;
    font-size: 0.875em;
    text-transform: uppercase;
    outline: none;
    border: 2px solid transparent;
    text-align: center;
    background: #fff;
    border-radius: 3em;
    padding: 1em 2em;
    color: #002841;
    max-width: 215px;
    cursor: pointer;
    -webkit-appearance: none;
    transition: all 350ms ease-in-out;
}

@media (max-width: 576px) {
    .btn {
        font-size: .8em;
        padding: 1em 1.5em;
    }
}

@media (max-width: 350px) {
    .btn {
        font-size: .6em;
        padding: 1em;
    }
}

.btn-primary:hover {
    color: #fff;
    background: none;
    border: 2px solid #fff;
}

.btn-secondary {
    background: none;
    color: #fff;
    border: 2px solid #fff;
    -webkit-appearance: none;
}

.btn-secondary:hover {
    background: #fff;
    color: #002841;
    border: 2px solid transparent;
}

.btn-submit {
    background-color: #00b6dc;
    color: #fff;
    -webkit-appearance: none;
    transition: background-color 250ms ease-out;
}

.btn-submit:hover {
    background-color: #008edc;
}

.font-color__blue {
    color: #00b6dc;
}

header {
    z-index: 100;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    color: #fff;
}

@media (max-width: 1200px) {
    header {
        width: 100vw;
    }
}

@media (max-width: 768px) {
    header {
        align-items: flex-end;
        justify-content: center;
    }
}

header #pagination {
    top: 50%;
    right: 6.25em;
    transform: translateY(-50%);
    position: fixed;
}

@media (max-width: 1350px) {
    header #pagination {
        right: 2em;
    }
}

@media (max-width: 576px) {
    header #pagination {
        right: 1em;
    }
}

header #pagination div {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 100%;
    margin-bottom: 1.75em;
    transition: background-color 250ms ease-in;
}

@media (max-width: 1200px) {
    header #pagination div {
        margin-bottom: 1em;
    }
}

header #pagination div:hover {
    background: #ffcd19;
    cursor: pointer;
}

header #pagination .dark-dots {
    background-color: #333;
}

header #pagination .active-dot {
    background-color: #ffcd19;
}

header .header-content {
    margin-bottom: 6.875em;
}

@media (max-width: 1200px) {
    header .header-content {
        margin-left: 1em;
        margin-right: 1em;
    }
}

@media (max-width: 768px) {
    header .header-content {
        margin: 2em;
        margin-bottom: 4em;
    }
}

header .header-content h1 {
    font-weight: 100;
    font-size: 2.5em;
}

@media (max-width: 768px) {
    header .header-content h1 {
        font-size: 2em;
        text-align: center;
    }
}

@media (max-width: 350px) {
    header .header-content h1 {
        font-size: 1.5em;
    }
}

header .header-content h1:nth-of-type(1) {
    margin-top: 0em;
    margin-bottom: .5em;
}

header .header-content h1:nth-of-type(2) {
    margin: 0em;
}

header .header-content .header-buttons {
    margin-top: 3.125em;
}

@media (max-width: 768px) {
    header .header-content .header-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 576px) {
    header .header-content .header-buttons {
        margin: 2em;
    }
}

header .header-content .header-buttons button:nth-of-type(1) {
    margin-right: 1.25em;
}

@media (max-width: 768px) {
    header .header-content .header-buttons button:nth-of-type(1) {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 1em;
    }
}

@media (max-width: 768px) {
    header .header-content .header-buttons button:nth-of-type(2) {
        margin-right: auto;
        margin-left: auto;
    }
}

header .header-content .header-arrows {
    margin-top: 5.625em;
    display: flex;
}

@media (max-width: 768px) {
    header .header-content .header-arrows {
        width: 100%;
        justify-content: space-between;
        margin-top: 2em;
    }
}

@media (max-width: 576px) {
    header .header-content .header-arrows {
        margin-top: 0em;
    }
}

header .header-content .header-arrows span {
    padding: .5em 0;
    cursor: pointer;
}

header .header-content .header-arrows span:hover .arrow {
    fill: #ffcd19;
}

header .header-content .header-arrows span .arrow {
    fill: #fff;
    fill-rule: evenodd;
    transition: fill 250ms ease-in-out;
    padding: .25em 0;
}

header .header-content .header-arrows span #arrow-left {
    transform: rotate(180deg);
}

@media (max-width: 768px) {
    header .header-content .header-arrows span #arrow-left {
        align-self: flex-end;
    }
}

header .header-content .header-arrows span:nth-of-type(1) {
    margin-right: .875em;
}

.row {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.row .col-6 {
    width: 50%;
}

@media (max-width: 1200px) {
    .row .col-6 {
        width: calc(100% - 4em);
        margin: 0 2em;
    }
}

@media (max-width: 768px) {
    .row .col-6 {
        width: calc(100% - 2em);
        margin: 0 1em;
    }
}

.align-image__left {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 1200px) {
    .align-image__left {
        justify-content: center;
    }
}

section {
    width: 100%;
    min-height: 100vh;
    color: #333333;
    display: flex;
    align-items: center;
}

section img {
    box-shadow: 11px 11px 48px 0px rgba(0, 0, 0, 0.22);
}

@media (max-width: 768px) {
    section img {
        object-fit: contain;
        max-height: 400px;
    }
}

@media (max-width: 576px) {
    section img {
        object-fit: cover;
        object-position: 0 0;
        width: 100%;
        max-height: 350px;
    }
}

section h2 {
    color: #002841;
    font-weight: 900;
}

section p {
    line-height: 1.8;
    color: #333;
}

#section1 {
    position: relative;
    margin-top: 100vh;
}

@media (max-width: 1200px) {
    #section1 .col-6:nth-of-type(1) {
        margin-bottom: 3em;
    }
}

@media (max-width: 576px) {
    #section1 .col-6:nth-of-type(1) {
        margin-bottom: 2em;
    }
}

#section1 #list-title {
    position: relative;
}

#section1 #list-title::after {
    top: 15px;
    left: 0;
    position: absolute;
    content: url("../img/blue-arrow.png");
}

#section1 #list-item {
    padding-left: 2em;
    position: relative;
}

#section1 #list-item::after {
    top: 15px;
    left: 0;
    position: absolute;
    content: url("../img/blue-arrow.png");
}

@media (max-width: 1200px) {
    #section2 .col-6:nth-of-type(1) {
        order: 2;
    }
    #section2 .col-6:nth-of-type(2) {
        order: 1;
        margin-bottom: 3em;
    }
}

@media (max-width: 576px) {
    #section2 .col-6:nth-of-type(2) {
        margin-bottom: 2em;
    }
}

@media (max-width: 1200px) {
    #section3 .col-6:nth-of-type(1) {
        margin-bottom: 3em;
    }
}

@media (max-width: 576px) {
    #section3 .col-6:nth-of-type(1) {
        margin-bottom: 2em;
    }
}

#section3 .player {
    position: relative;
}

#section3 .player .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    opacity: 1;
    transition: opacity 250ms ease-out;
}

@media (max-width: 576px) {
    #section3 .player .play-button {
        width: 50%;
        height: 50%;
    }
}

#section3 .player .play-button:hover {
    opacity: 0.9;
}

#section3 #lightbox {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.85);
    opacity: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    transition: opacity 500ms ease-in-out;
}

#section3 #lightbox .lightbox-player span {
    position: fixed;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}

#section3 #lightbox .lightbox-player iframe {
    width: 1080px;
    height: 608px;
}

@media (max-width: 1200px) {
    #section3 #lightbox .lightbox-player iframe {
        width: 100%;
        height: auto;
    }
}

#section3 .opacity {
    opacity: 1 !important;
    transition: opacity 500ms ease-in-out;
}

#section4 {
    background: #f5f8fa;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    #section4 {
        padding-bottom: 2em;
    }
}

#section4 .row {
    flex-wrap: nowrap;
}

#section4 .form-section h3,
#section4 .form-section h4 {
    text-align: center;
}

#section4 .form-section h3 {
    font-weight: 600;
    font-size: 1.125em;
    color: #333;
    margin-bottom: 0.625em;
}

#section4 .form-section h4 {
    font-size: 0.9375em;
    color: #7b94a5;
    margin-top: 0;
    margin-bottom: 2.875em;
}

#section4 .form-section form {
    width: 580px;
}

@media (max-width: 600px) {
    #section4 .form-section form {
        margin: 0 1em;
        width: calc(100% - 3em);
    }
}

#section4 .form-section form .form-input__warning {
    box-shadow: inset 0px 0px 0px 1px #ff3139 !important;
}

#section4 .form-section form .form-group__name {
    display: flex;
    height: 100%;
}

@media (max-width: 580px) {
    #section4 .form-section form .form-group__name {
        flex-wrap: wrap;
    }
}

#section4 .form-section form .form-group__name .form-input__group:nth-of-type(1),
#section4 .form-section form .form-group__name .form-input__group:nth-of-type(2) {
    width: 89%;
    margin: 0;
}

input {
    border-radius: 0;
    -webkit-appearance: none;
}

textarea {
    border-radius: 0;
    -webkit-appearance: none;
}

@media (max-width: 580px) {
    #section4 .form-section form .form-group__name .form-input__group:nth-of-type(1),
    #section4 .form-section form .form-group__name .form-input__group:nth-of-type(2) {
        width: 100%;
    }
}

#section4 .form-section form .form-group__name .form-input__group:nth-of-type(1) {
    margin-right: 11%;
}

@media (max-width: 580px) {
    #section4 .form-section form .form-group__name .form-input__group:nth-of-type(1) {
        margin-right: 0;
        margin-bottom: 1em;
    }
}

#section4 .form-section form .form-input__group {
    position: relative;
    margin: 1em 0;
}

#section4 .form-section form .form-input__group #form-input__message {
    resize: none;
    height: 10em;
    padding-top: 1.5em;
}

#section4 .form-section form .form-input__group .form-input {
    position: relative;
    width: 100%;
    height: 3em;
    font-family: muli, sans-serif;
    font-size: 1em;
    padding-left: 1em;
    padding-top: .5em;
    border: none;
    background-color: #fff;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.04);
    transition: box-shadow 250ms ease-in-out;
    cursor: pointer;
}

#section4 .form-section form .form-input__group .form-input:hover {
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.08);
}

#section4 .form-section form .form-input__group .form-input+label {
    position: absolute;
    top: 10px;
    left: .5em;
    padding: 5px;
    font-size: 1em;
    color: darkgrey;
    transition: all 200ms ease-out;
}

#section4 .form-section form .form-input__group .form-input:focus {
    outline: none;
}

#section4 .form-section form .form-input__group .form-input:focus+label,
#section4 .form-section form .form-input__group .form-input.input-with__value+label {
    top: 0px;
    left: 10px;
    font-size: .65em;
}

#section4 .form-section form .form-input__group .form-input.input-with__value:not(:focus)+label {
    color: grey;
}

#section4 .form-section form .form-input__terms {
    margin-bottom: 1em;
}

#section4 .form-section form .form-input__terms #form-input__checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
    background-color: #fff;
}

#section4 .form-section form .form-input__terms #form-input__checkbox:hover input+span {
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.1);
}

#section4 .form-section form .form-input__terms #form-input__checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

#section4 .form-section form .form-input__terms #form-input__checkbox input:checked+span {
    background-color: #fff;
}

#section4 .form-section form .form-input__terms #form-input__checkbox input:checked+span:after {
    display: block;
}

#section4 .form-section form .form-input__terms #form-input__checkbox span {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.04);
    transition: box-shadow 250ms ease-in-out;
    background-color: #fff;
}

#section4 .form-section form .form-input__terms #form-input__checkbox span:after {
    content: "";
    position: absolute;
    display: none;
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid #00b6dc;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

#section4 .form-section form .form-input__terms p {
    padding-left: 3em;
    margin-top: 0;
    font-size: .75em;
    line-height: 1.4;
}

#section4 .form-section form .form-input__submit {
    display: flex;
    justify-content: center;
}

footer {
    background: #001927;
    display: flex;
    justify-content: center;
}

footer .footer-content {
    margin-top: 4em;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    position: relative;
}

@media (max-width: 1200px) {
    footer .footer-content {
        margin-right: 1em;
        margin-left: 1em;
    }
}

@media (max-width: 900px) {
    footer .footer-content {
        justify-content: space-around;
    }
}

@media (max-width: 576px) {
    footer .footer-content {
        margin-top: 2em;
        margin-bottom: 0;
        flex-flow: column wrap;
    }
}

footer .footer-content .col {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1200px) {
    footer .footer-content .col {
        margin-bottom: 1em;
        margin-left: 1em;
        margin-right: 1em;
        flex: 2;
    }
}

@media (max-width: 900px) {
    footer .footer-content .col {
        flex-basis: 150px;
        margin-bottom: 3em;
        margin-left: 2em;
        margin-right: 2em;
    }
}

@media (max-width: 746px) {
    footer .footer-content .col {
        flex-basis: 200px;
    }
}

@media (max-width: 576px) {
    footer .footer-content .col {
        margin-bottom: 1em;
        margin-left: 1em;
        margin-right: 1em;
    }
}

@media (max-width: 576px) {
    footer .footer-content .col:nth-of-type(1) {
        align-items: center;
    }
}

@media (max-width: 576px) {
    footer .footer-content .col:nth-of-type(2) {
        margin-top: 12em;
    }
}

footer .footer-content #map {
    margin-top: 2em;
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

@media (max-width: 576px) {
    footer .footer-content #map {
        width: 100%;
        min-height: 250px;
        border-radius: 0;
        margin-bottom: 1em;
    }
}

footer .footer-content #map .gmnoprint,
footer .footer-content #map .gm-control-active {
    display: none;
}

footer .footer-content .footer-headline,
footer .footer-content .footer-paragraph,
footer .footer-content .footer-info {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    padding-bottom: 1em;
    opacity: 1;
}

footer .footer-content .footer-headline:hover,
footer .footer-content .footer-paragraph:hover,
footer .footer-content .footer-info:hover {
    opacity: 0.7;
}

footer .footer-content .footer-info {
    padding-bottom: .5em;
}

footer .footer-content .footer-headline {
    font-weight: 700;
    padding-bottom: 1.5em;
}

footer .footer-content .col:nth-of-type(7) {
    position: absolute;
    bottom: 2em;
    right: 0;
}

@media (max-width: 1200px) {
    footer .footer-content .col:nth-of-type(7) {
        bottom: -2em;
    }
}

@media (max-width: 576px) {
    footer .footer-content .col:nth-of-type(7) {
        padding-bottom: 1em;
        bottom: 0;
    }
}